<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.wolfcode.car.business.mapper.LeaveMapper" >
  <resultMap id="BaseResultMap" type="cn.wolfcode.car.business.domain.Leave" >
    <result column="id" property="id" />
    <result column="name" property="name" />
    <result column="reason" property="reason" />
    <result column="startTime" property="startTime" />
    <result column="endTime" property="endTime" />
    <result column="auditId" property="auditId" />
    <result column="status" property="status" />
    <result column="info" property="info" />
    <result column="aduit_name" property="auditor.userName" />
  </resultMap>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" >
    insert into bus_leave (name, reason, startTime, endTime, auditId, status, info
      )
    values (#{name}, #{reason}, #{startTime}, #{endTime}, #{auditId}, #{status}, #{info}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, name, reason, startTime, endTime, auditId, status, info
    from bus_leave
  </select>
  <select id="selectForList" resultMap="BaseResultMap" >
    SELECT
      busleave.id,
      busleave.name,
      busleave.reason,
      busleave.startTime,
      busleave.endTime,
      busleave.auditId,
      busleave.status,
      busleave.info,
      sysuser.user_name aduit_name
    FROM
      bus_leave busleave
        JOIN sys_user sysuser ON busleave.auditId = sysuser.id
    <where>
      <if test="startTime != null">
        and busleave.startTime &gt;= #{startTime}
      </if>
      <if test="endTime != null">
        and busleave.endTime &lt;= #{endTime}
      </if>
      <if test="status != null and status != ''">
        and busleave.status = #{status}
      </if>
    </where>
  </select>
  <select id="selectById" resultMap="BaseResultMap">
    select id, name, reason, startTime, endTime, auditId, status, info
    from bus_leave
    where id = #{id}
  </select>
</mapper>