<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/include :: header('新增服务单项')"/>
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-serviceItem-add">
        <div class="form-group">
            <input type="hidden" name="id" th:value="${serviceItem.id}">
            <label class="col-sm-3 control-label is-required">服务单项名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" th:value="${serviceItem.name}" name="name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">服务单项原价：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" th:value="${serviceItem.originalPrice}" name="originalPrice" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">服务单项折扣价：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" th:value="${serviceItem.discountPrice}" name="discountPrice" required>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">是否套餐：</label>
            <div class="col-sm-8">
                <div class="radio-box" th:each="dict : ${@dict.getType('si_car_package')}">
                    <input type="radio" th:id="${dict.id}" name="carPackage" th:value="${dict.value}"
                           th:field="${serviceItem.carPackage}">
                    <label th:for="${dict.id}" th:text="${dict.label}"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">服务分类：</label>
            <div class="col-sm-8">
                <select name="serviceCatalog" class="form-control m-b" th:with="type=${@dict.getType('si_service_catalog')}">
                    <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}" th:field="${serviceItem.serviceCatalog}"></option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-3 control-label is-required">备注信息：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" name="info" required>
            </div>
        </div>

    </form>
</div>
<th:block th:include="common/include :: footer"/>
<script type="text/javascript">
    var prefix = ctx + "/business/serviceItem";

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/edit", $('#form-serviceItem-add').serialize());
        }
    }


</script>
</body>
</html>
