<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="common/include :: header('服务单项列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="serviceItem-form">
                <div class="select-list">
                    <ul>
                        <li>
                            服务单项名称：<input type="text" name="name"/>
                        </li>
                        <li>
                            是否套餐：<select name="carPackage" th:with="type=${@dict.getType('si_car_package')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                        </select>
                        </li>
                        <li>
                            服务分类：<select name="serviceCatalog" th:with="type=${@dict.getType('si_service_catalog')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                        </select>
                        </li>
                        <li>
                            审核状态：<select name="auditStatus" th:with="type=${@dict.getType('si_audit_status')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                        </select>
                        </li>
                        <li>
                            上架状态：<select name="saleStatus" th:with="type=${@dict.getType('si_sale_status')}">
                            <option value="">所有</option>
                            <option th:each="dict : ${type}" th:text="${dict.label}" th:value="${dict.value}"></option>
                        </select>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm" id="toolbar" role="group">
            <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:customer:add">
                <i class="fa fa-plus"></i> 新增
            </a>
            <a class="btn btn-success auditBtn disabled" id="auditBtn" onclick="startAudit()" >
                <i class="fa fa-plus"></i> 发起审核
            </a>
        </div>

        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="common/include :: footer"/>
<script th:inline="javascript">

    var prefix = ctx + "/business/serviceItem";
    $(function () {
        var carPackageDatas = [[${@dict.getType('si_car_package')}]];
        var serviceCatalogDatas = [[${@dict.getType('si_service_catalog')}]];
        var auditStatusDatas = [[${@dict.getType('si_audit_status')}]];
        var saleStatusDatas = [[${@dict.getType('si_sale_status')}]];
        var options = {
            url: prefix + "/query",
            createUrl: prefix + "/addPage",
            updateUrl: prefix + "/editPage?id={id}",
            removeUrl: prefix + "/remove",
            modalName: "服务单项",
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '服务单项id',
                    visible: false
                },
                {
                    field: 'name',
                    title: '服务单项名称',
                    sortable: true
                },
                {
                    field: 'originalPrice',
                    title: '服务单项原价',
                    sortable: true
                },
                {
                    field: 'discountPrice',
                    title: '服务单项折扣价',
                    sortable: true
                },
                {
                    field: 'carPackage',
                    title: '是否为套餐',
                    sortable: true,
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(carPackageDatas, value);
                    }
                },
                {
                    field: 'info',
                    title: '备注',
                    sortable: true,
                    formatter: function (value, row, index) {
                        return $.table.tooltip(value, 5, "open");
                    }
                },
                {
                    field: 'createTime',
                    title: '创建时间',
                    sortable: false
                },
                {
                    field: 'serviceCatalog',
                    title: '服务分类',
                    sortable: true,
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(serviceCatalogDatas, value);
                    }
                },
                {
                    field: 'auditStatus',
                    title: '审核状态',
                    sortable: true,
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(auditStatusDatas, value);
                    }
                },
                {
                    field: 'saleStatus',
                    title: '上架状态',
                    sortable: true,
                    formatter: function (value, item, index) {
                        return $.table.selectDictLabel(saleStatusDatas, value);
                    }
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var editFlag = '';
                        var saleOnFlag = '';
                        if (row.saleStatus == 1) {
                            editFlag = 'disabled';
                        } else if (row.auditStatus == 1) {
                            editFlag = 'disabled';
                        }
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '"  href="javascript:void(0)" ' +
                            'onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        if (row.saleStatus) {
                            actions.push('<a class="btn btn-info btn-xs " href="javascript:void(0)"' +
                                ' onclick="saleOff(\'' + row.id + '\')"><i class="fa"></i>下架</a> ');
                        } else {
                            if (row.carPackage == 1 && row.auditStatus != 2) {
                                saleOnFlag = 'disabled';
                            } else if (row.auditStatus == 1) {
                                saleOnFlag = 'disabled';
                            }
                            actions.push('<a class="btn btn-danger btn-xs '+saleOnFlag+'" href="javascript:void(0)" ' +
                                'onclick="saleOn(\'' + row.id + '\')"><i class="fa"></i>上架</a> ');
                        }
                        return actions.join('');
                    }
                }]

        };
        $.table.init(options);
        $("#bootstrap-table").on("check.bs.table uncheck.bs.table check-all.bs.table uncheck-all.bs.table load-success.bs.table",function () {
            var rows = $('#bootstrap-table').bootstrapTable('getSelections');
            console.log(rows)
            var row = rows[0];
            if (rows.length > 1 | rows.length == 0) {
                $('#auditBtn').addClass("disabled");
                return;
            }
            if (row.carPackage == 0) {
                $('#auditBtn').addClass("disabled");
                return;
            }
            if (row.auditStatus == 1 | row.auditStatus == 2) {
                $('#auditBtn').addClass("disabled");
                return;
            }
            $('#auditBtn').removeClass("disabled");
        })
    });
    function saleOn(id) {
        $.modal.confirm("确定要上架吗？",function () {
            $.operate.submit(prefix + "/saleOn?id="+id, "post");
        })
    }
    function saleOff(id) {
        $.modal.confirm("确定要下架吗？",function () {
            $.operate.submit(prefix + "/saleOff?id="+id, "post");
        })
    }

    function startAudit() {
        var rows = $('#bootstrap-table').bootstrapTable('getSelections');
        console.log(rows)
        var row = rows[0];
        $.modal.open("发起审核明细",prefix + "/auditPage?id=" + row.id);
    }


</script>
</body>
</html>